<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitFlow</title>
</head>
<body>
    <h1>GIT FLOW</h1>
    <h3>What's GitFlow ?</h3>
    <p><b>Before Diving into GitFlow, lets check some basic command for <i>Git Remote</i></b></p>
    <ul>
        <li>git remote add 'connection-name' 'url-name' . example: git remote add project1 github.com/EDGARJN/learn-gitflow</li>
        <li>git remote rename 'old-name' 'new-name'</li>
    </ul>

</body>
</html>